body {
    background: linear-gradient(to bottom, #eff6ff, #ffffff);
}

.setup-container {
    min-height: 97vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setup-title {
    font-size: 28px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 30px;
    text-align: center;
}

.input {
    padding: 12px 16px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input:focus {
    outline: none;
    border-color: #2563eb;
}

.input::placeholder {
    color: #9ca3af;
}

.login-register-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.login-register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.error {
    color: #dc2626;
    font-size: 14px;
    margin-top: -10px;
}

.prompt {
    margin-top: 20px;
    text-align: center;
    color: #6b7280;
}

.setup-link {
    background: none;
    border: none;
    color: #2563eb;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px;
    text-decoration: none;
}

.setup-link:hover {
    color: brown;
}

.btn {
    background: linear-gradient(135deg, hsl(22 100% 62%) 0%, hsl(22 100% 55%) 100%);
    color: hsl(0 0% 100%);
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

}

.btn:hover {
    background-color: #1d4ed8;
}

.landing-page-btn {
    width: 10%;
    padding: 12px 32px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.error-login {
    font-size: 20px;
    color: #dc2626;
    text-align: center;
}